.breadcrumb {
  padding: 1rem 0;
  & ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  & li {
    text-transform: capitalize;
    &:not(:last-of-type) {
      &:after {
        content: '/';
        margin-left: 0.5rem;
      }
    }
    &:last-of-type {
      & a {
        color: oklch(var(--breadcrumb-color));
      }
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid oklch(var(--border-color));
  border-radius: 0.25rem;
  background-color: oklch(var(--card-bg));
  .card-hero {
    & img {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      max-height: 300px;
      object-fit: cover;
      border-radius: 0.25rem;
      object-position: center top;
    }
  }
  .card-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 60ch;
    order: 1;
    &> * + * {
      margin-top: 1rem;
    }
    &:last-child {
      margin-top: auto;
    }
    &:nth-last-child(2) {
      margin-bottom: 0.75rem;
    }
  }
  .card-title {
    margin-top: 1rem;
    font-size: 1.125rem;
    font-weight: bold;
    color: oklch(var(--card-title-color));
    text-decoration: none;
    &:focus-within {
      outline: none;
      box-shadow: none;
      &:after {
        box-shadow: 0 0 0 0.25rem oklch(var(--outline-color));
      }
    }
    &:hover {
      opacity: 1;
      &:after {
        box-shadow: 0 0 0 0.25rem oklch(var(--outline-color));
      }
    }
    &[aria-current='page'] {
      &:before {
        content: '👀';
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        font-size: 0.75rem;
        padding: 0.25rem 1rem;
        border-radius: 1.25rem;
        color: oklch(var(--color-white));
        background: linear-gradient(
          90deg,
          oklch(var(--color-primary)),
          oklch(var(--color-primary) / 70%),
          oklch(var(--color-primary))
        );
        background-size: 200% 200%;
        animation: now-watching-badge 5000ms linear infinite;
      }
      &:after {
        box-shadow: 0 0 0 0.25rem oklch(var(--color-primary));
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0.25rem;
    }
  }
  .card-des {
    color: oklch(var(--card-des-color));
  }
  &.card--disabled {
    opacity: 0.5;
    background-color: oklch(var(--color-black) / 15%);
    pointer-events: none;
  }
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    & > li {
      margin-right: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }
}

.empty-block {
  --empty-block-border-color-default: 79.21% 0 0;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  border: 1px dashed
    oklch(var(--empty-block-border-color, var(--empty-block-border-color-default)) / 30%);
  backdrop-filter: blur(0.25rem);
}

footer {
  text-align: center;
  & #ak-footer {
    display: block;
  }
  & span {
    display: inline-block;
    vertical-align: middle;
  }
  & a {
    margin-right: 1rem;
  }
}

.intro {
  container-type: inline-size;
  container-name: intro;
  padding: 3rem 0 1rem;
  text-align: center;
  & a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  & img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: oklch(var(--color-white));
    border: 1px solid oklch(var(--border-color));
    @container intro (width <= 375px) {
      width: 3rem;
      height: 3rem;
    }
  }
  & .text {
    font-size: 1.875rem;
    font-weight: bold;
    color: oklch(var(--intro-color));
    padding-left: 1.5rem;
    @container intro (width <= 375px) {
      font-size: 1.25rem;
      padding-left: 1rem;
    }
  }
}
.submenu {
  container-type: inline-size;
  container-name: submenu;
  > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    @container submenu (width <= 560px) {
      justify-content: space-around;
      gap: 0;
    }
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: content-box;
      width: 8ch;
      height: 8ch;
      padding: 0.125rem;
      line-height: 1.5;
      border-radius: 50%;
      text-align: center;
      text-wrap: balance;
      text-transform: capitalize;
      @container submenu (width <= 560px) {
        width: 5ch;
        height: 5ch;
        font-size: 0.875rem;
        padding: 0.75rem;
        word-break: initial;
      }
    }
    & svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

.lang-switcher {
  display: inline-block;
  vertical-align: middle;
  & span {
    margin-right: 0.5rem;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}