/*************************
  Text Colors
*************************/

.color-primary {
  color: oklch(var(--color-primary));
}

.color-success {
  color: oklch(var(--color-success));
}

.color-warning {
  color: oklch(var(--color-warning));
}

.color-danger {
  color: oklch(var(--color-danger));
}


/*************************
  Link
*************************/

a[role="button"] {
  background-color: oklch(var(--color-primary));
  padding: 0.5rem;
  color: oklch(var(--color-white));
  & svg path {
    fill: oklch(var(--color-white));
  }
  &[aria-current="page"] {
    box-shadow: 0 0 0 3px oklch(var(--outline-color));
  }
}


/*************************
  A11y
*************************/

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important; /* Fix for https://github.com/twbs/bootstrap/issues/25686 */
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}


/*************************
  Keyframes
*************************/

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*************************
  Tag
*************************/
.tag {
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  border-radius: 1.25rem;
  border: 1px solid oklch(var(--border-color));
  display: inline-block;
  vertical-align: middle;
}
